:root {
    --color1: #efca11;
    --color2: #aa0000;
    --color3: #c9a805;
    --color4: #910000;
}

*,
*:hover {
    transition: 0.3s all;
}

.all {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 110%;
}

header {
    background-image: url('../images/bg_header.png');
    background-size: cover;
}